In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('airlines.txt', encoding='utf-8')

In [3]:
df.head()

,-1,Unknown,\N,-,N/A,\N.1,\N.2,Y
0,1,Private flight,\N,-,NaN,NaN,NaN,Y
1,2,135 Airways,\N,NaN,GNL,GENERAL,United States,N
2,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
3,4,2 Sqn No 1 Elementary Flying Training School,\N,NaN,WYT,NaN,United Kingdom,N
4,5,213 Flight Unit,\N,NaN,TFU,NaN,Russia,N

In [4]:
df.columns = ['AirlineID',
'Name',
'Alias',
'IATA',
'ICAO',
'Callsign',
'Country',
'Active']

In [5]:
df[['Name', 'Alias']].head()

                                           Name Alias
0                                Private flight    \N
1                                   135 Airways    \N
2                                 1Time Airline    \N
3  2 Sqn No 1 Elementary Flying Training School    \N
4                               213 Flight Unit    \N

In [6]:
filtered = df[(df.Active == 'Y') & (df.IATA != '\N') & (pd.notnull(df.IATA)) & (df.ICAO != '\N') & (pd.notnull(df.ICAO))]
filtered = filtered[(df.AirlineID != 13391) & (df.AirlineID != 13394) & (df.AirlineID != 19567)]

/home/guzik/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

In [7]:
filtered[['AirlineID', 'Name', 'IATA', 'ICAO', 'Country']]

,AirlineID,Name,IATA,ICAO,Country
2,3,1Time Airline,1T,RNX,South Africa
9,10,40-Mile Air,Q5,MLA,United States
12,13,Ansett Australia,AN,AAA,Australia
20,21,Aigle Azur,ZI,AAF,France
21,22,Aloha Airlines,AQ,AAH,United States
23,24,American Airlines,AA,AAL,United States
27,28,Asiana Airlines,OZ,AAR,Republic of Korea
28,29,Askari Aviation,4K,AAS,Pakistan
31,32,Afriqiyah Airways,8U,AAW,Libya
34,35,Allegiant Air,G4,AAY,United States
41,42,ABSA - Aerolinhas Brasileiras,M3,TUS,Brazil
54,55,Astral Aviation,8V,ACP,Kenya
71,72,Ada Air,ZY,ADE,Albania
82,83,Adria Airways,JP,ADR,Slovenia
89,90,Air Europa,UX,AEA,Spain
92,93,Aero Benin,EM,AEB,Benin
95,96,Aegean Airlines,A3,AEE,Greece
105,106,Air Europe,PE,AEL,Italy
108,109,Alaska Central Express,KO,AER,United States
111,112,Astraeus,5W,AEU,United Kingdom
113,114,Aerosvit Airlines,VV,AEW,Ukraine
115,116,Air Italy,I9,AEY,Italy
119,120,Alliance Airlines,QQ,UTY,Australia
124,125,Ariana Afghan Airlines,FG,AFG,Afghanistan
129,130,Aeroflot Russian Airlines,SU,AFL,Russia
131,132,Air Bosna,JA,BON,Bosnia and Herzegovina
136,137,Air France,AF,AFR,France
138,139,Air Caledonie International,SB,ACI,France
148,149,Air Cargo Carriers,2Q,SNC,United States
152,153,Air Namibia,SW,NMB,Namibia
...,...,...,...,...,...
6073,20074,All America MX,0M,0MM,Mexico
6074,20110,FOX Linhas Aereas,FX,FOX,Brazil
6077,20144,Via Conectia Airlines,6V,CZV,Uruguay
6080,20160,City Airways,E8,GTA,Thailand
6081,20170,Norwegian Long Haul AS,DU,NLH,Norway
6083,20207,TransNusa Air,M8,TNU,Indonesia
6084,20218,Tomp Airlines,ZT,T9P,Chile
6088,20224,Global Airlines,0G,GA0,Argentina
6091,20264,Air Vistara,UK,VTI,India
6092,20268,TransRussiaAirlines,1E,RGG,Russia
6094,20282,REXAIR VIRTUEL,RR,RXR,France
6095,20285,WestJet Encore,WR,WEN,Canada
6096,20286,Air Pegasus,OP,PPL,India
6097,20288,International Europe,9I,INE,Spain
6099,20401,V Air,ZV,VAX,Taiwan
6105,20565,Boutique Air (Priv),4B,BTQ,United States
6107,20577,VOLOTEA Airways,V7,VOE,Spain
6110,20599,INAVIA Internacional,Z5,IIR,Argentina
6111,20607,Liberty Airways,LE,LTY,United States
6114,20657,Bassaka airlines,5B,BSX,Cambodia
6125,20769,VIA Líneas Aéreas,V1,VIA,Argentina
6128,20802,GermanXL,GX,GXG,Germany
6131,20827,Fly France,FF,FRF,France
6133,20881,Europe Jet,EX,EU9,France
6139,20976,World Scale Airlines,W3,WSS,United States
6140,20978,All America US,AG,SSA,United States
6144,20995,BudgetAir,1K,BG1,Germany
6146,21012,Fly One,F5,FI5,Moldova
6152,21131,All America BOPY,0P,PYB,Paraguay
6160,21317,Svyaz Rossiya,7R,SJM,Russia

In [8]:
filtered[['AirlineID', 'Name', 'IATA', 'ICAO', 'Country']].to_csv('airlines_fil.txt', index=False, encoding='utf-8');