In [72]:
import pandas as pd

In [126]:
df = pd.read_csv('airports.dat', encoding='utf-8', header=None)

In [127]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
7179,12053,Rugao Air Base,Rugao,China,RUG,ZSRG,32.257885,120.501656,0,\N,\N,\N,airport,OurAirports
7180,12054,Wuhu Air Base,Wuhu,China,WHU,ZSWU,31.390600,118.408997,0,\N,\N,\N,airport,OurAirports
7181,12055,Shanshan Airport,Shanshan,China,SXJ,ZWSS,42.911701,90.247498,0,\N,\N,\N,airport,OurAirports
7182,12056,Yingkou Lanqi Airport,Yingkou,China,YKH,ZYYK,40.542524,122.358600,0,\N,\N,\N,airport,OurAirports
7183,12057,Shenyang Dongta Airport,Shenyang,China,\N,ZYYY,41.784401,123.496002,0,\N,\N,\N,airport,OurAirports

In [128]:
df.columns = [
'AirportID',
'Name',
'City',
'Country',
'IATA',
'ICAO',
'Latitude',
'Longitude',
'Altitude',
'Timezone',
'DST',
'Tz database time zone',
'Type',
'Source']
df = df.reindex(columns=[
'IATA',
'AirportID',
'Name',
'City',
'Country',
'ICAO',
'Latitude',
'Longitude',
'Altitude',
'Timezone',
'DST',
'Tz database time zone',
'Type',
'Source'])

In [129]:
filtered = df[(df.City != '\N') & (pd.notnull(df.City))
              & (pd.notnull(df.Longitude))
              & (pd.notnull(df.Latitude))
              & (df.Country != '\N') & (pd.notnull(df.Country))
              & (df.IATA != '\N') & (pd.notnull(df.IATA))
              & (df.ICAO != '\N') & (pd.notnull(df.ICAO))]

In [130]:
filtered.Name = filtered.Name.apply(lambda x: x.replace(',','.'))
filtered.City = filtered.City.apply(lambda x: x.replace(',','.'))
filtered.Name = filtered.Name.apply(lambda x: x.replace('"',' '))
filtered[filtered.IATA == 'DSA']

,IATA,AirportID,Name,City,Country,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz database time zone,Type,Source
4243,DSA,5562,Robin Hood Doncaster Sheffield Airport,Doncaster. Sheffield,United Kingdom,EGCN,53.480538,-1.010656,55,0,E,Europe/London,airport,OurAirports

In [131]:
filtered[['IATA',  'Name', 'City', 'ICAO', 'Latitude', 'Longitude']].to_csv('airports_fil.txt', index=False, encoding='utf-8');