In [5]:
import pandas as pd
df = pd.read_csv('countries.dat', encoding='utf-8', header=None)

In [6]:
df.head()

                      0   1   2  3
0                 Aruba  AA  AW  U
1   Antigua and Barbuda  AC  AG  U
2  United Arab Emirates  AE  AE  U
3           Afghanistan  AF  AF  U
4               Algeria  AG  DZ  N

In [9]:
df.columns = ['Name', 'bad_code', 'iso_code', 'Zone']

In [21]:
df = df[pd.notna(df.iso_code) & (df.iso_code != '\N')]

In [33]:
schengen_area = [
'AT',
'BE',
'BG',
'CH',
'CY',
'CZ',
'DE',
'DK',
'EE',
'EL',
'ES',
'FI',
'FR',
'HR',
'HU',
'IE',
'IS',
'IT',
'LI',
'LT',
'LU',
'LV',
'MT',
'NL',
'NO',
'PL',
'PT',
'RO',
'SE',
'SI',
'SK',
'UK']
df = df.assign(schengen=(df.iso_code.isin(schengen_area)))

In [34]:
df[['iso_code', 'Name', 'schengen']].to_csv('countries_fil.txt', index=False, encoding='utf-8')

In [24]:
len('Saint Vincent and the Grenadines')

32